<h1>Create a New Article Here!</h1>

<form method="POST" action='/articles'>
    <label> Title:<input type="text" name="title"></label><br />
    <label>Content:<textarea name="content"></textarea></label><br />
    <input type="submit">
</form>